*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    
}


body {
    background-color: #6f79c4;
    /* color: white; */
}

.calendar{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background:#fff ;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0,0,0.3);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.monthYear {
    text-align: center;
    width: 150px;
    font-weight: 600;
}
.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #f5f1f1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(0, 0, 0.2);
}
.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.day{
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}
.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}
.dates div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active {
    background: #a7addb;
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;
}
.date.inactive:hover {
    color: #fff;
}
.date.active {
  background-color: #6f79c4;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}